<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>本地缓存管理</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

    <style>
        td {
            word-break: break-all;
        }

        .item-value {

        }

        #data-table th {
            text-align: center;
        }

        #data-table td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
<div id="app">

    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">本地缓存管理</a>
                </div>
            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#" @click="selectGroup('')">请选择分组</a>
                    </li>
                    <li role="presentation" :class="{active:currentGroup == k}" v-for="(v, k) in groups" :key="k"><a
                            href="#" @click="selectGroup(k)">{{ k }}({{ v.desc }})</a></li>
                </ul>
            </div>
            <div class="col-md-10" v-show="currentGroup != ''">
                <form class="form-inline" style="margin-bottom: 10px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索键" v-model="query">
                    </div>
                    <button type="button" class="btn btn-default" @click="search">搜索</button>
                    <button type="button" class="btn btn-default" @click="query = ''">重置</button>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="queryRegex"> 正则表达式
                        </label>
                        <label data-toggle="tooltip" data-placement="top" title="搜索指定键名，不支持模糊搜索">
                            <input type="checkbox" v-model="queryAccurate"> 精确搜索
                        </label>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" @click="showGroupStats">查看统计信息</button>
                        <button type="button" class="btn btn-warning" @click="reloadGroup">重新加载此分组</button>
                        <button type="button" class="btn btn-danger" @click="clearGroup">清空此分组</button>
                    </div>
                </form>
                <table id="data-table" class="table table-striped table-hover table-bordered" style="margin-bottom: 0">
                    <tr>
                        <th style="width: 60px">No.</th>
                        <th style="min-width: 100px">键</th>
                        <th>值</th>
                        <th style="width: 140px">操作</th>
                    </tr>
                    <tr v-for="(item, index) in cacheData">
                        <td style="text-align: center">{{ (page - 1) * pageSize + index + 1 }}</td>
                        <td>{{ item.key }}</td>
                        <td class="item-value">{{ item.value }}</td>
                        <td style="text-align: center">
                            <a class="btn btn-default btn-xs" @click="viewItem(item.key)">查看</a>
                            <a class="btn btn-default btn-xs" @click="refreshItem(item.key)">刷新</a>
                            <a class="btn btn-danger btn-xs" @click="deleteItem(item.key)">删除</a>
                        </td>
                    </tr>
                </table>
                <div>
                    <div style="float:right;">
                        <nav aria-label="...">
                            <ul class="pager">
                                <li style="margin-right: 5px">页数: {{ page }}/{{ totalPage }}</li>
                                <li style="margin-right: 5px">总数: {{ totalSize }}</li>
                                <li :class="{'disabled':page <= 1}"><a href="javascript:void(0);" @click="firstPage">首页</a></li>
                                <li :class="{'disabled':page <= 1}"><a href="javascript:void(0);" @click="prevPage">上一页</a></li>
                                <li :class="{'disabled':page >= totalPage}"><a href="javascript:void(0);" @click="nextPage">下一页</a></li>
                                <li :class="{'disabled':page >= totalPage}"><a href="javascript:void(0);" @click="lastPage">末页</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="groupStatsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ currentGroup }}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>键</th>
                            <th>值</th>
                        </tr>
                        <tr v-for="(v, k) in groupStatsModelData" :key="k">
                            <td>{{ k }}</td>
                            <td>{{ v }}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="viewItemModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ viewItemTitle }}</h4>
                </div>
                <div class="modal-body" style="word-break: break-all" v-html="viewItemContent"></div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    const PATH = '[[${path}]]';
    const app = new Vue({
        el: '#app',
        data: {
            // 搜索关键
            query: '',
            // 是否启用正则表达式搜索
            queryRegex: false,
            // 是否启用精确搜索
            queryAccurate: true,
            // 分组列表
            groups: {},
            // 当前选中的分组名
            currentGroup: '',
            // 缓存表格数据
            cacheData: [],
            // 分组统计信息模态框数据
            groupStatsModelData: {},
            // 查看缓存值模态框标题
            viewItemTitle: '',
            // 查看缓存值模态框内容
            viewItemContent: '',
            // 分页
            page: 0,
            // 分页大小
            pageSize: 10,
            // 总页数
            totalPage: 0,
            // 总数量
            totalSize: 0,
        },
        computed: {
            cacheDataSize: function () {
                if (!this.cacheData) {
                    return 0;
                }
                return this.cacheData.length;
            }
        },
        methods: {
            // 选择分组
            selectGroup: function (group) {
                this.currentGroup = group;
                this.query = '';
                this.cacheData = [];
                this.page = 0;
                this.totalPage = 0;
                this.totalSize = 0;
            },
            // 加载分组列表
            loadGroups: function () {
                $.getJSON(PATH + '/global/groups', data => {
                    if (!this.checkResponse(data)) return;
                    this.groups = data.data;
                });
            },
            // 搜索分组键
            search: function () {
                if (this.queryAccurate && this.query !== '') {
                    const query = this.query;
                    $.getJSON(PATH + '/group/' + this.currentGroup + '/get',
                        {key: query}, data => {
                            if (!this.checkResponse(data)) return;
                            if (data.data === null || data.data === undefined) {
                                this.cacheData = []
                                this.page = 0;
                                this.totalPage = 0;
                                this.totalSize = 0;
                            } else {
                                this.cacheData = [{key: query, value: data.data}];
                                this.page = 1;
                                this.totalPage = 1;
                                this.totalSize = 1;
                            }
                        });
                } else {
                    $.getJSON(PATH + '/group/' + this.currentGroup + '/list',
                        {query: this.query, regex: this.queryRegex, page: this.page, size: this.pageSize},
                        data => {
                            if (!this.checkResponse(data)) return;
                            this.cacheData = data.data.content;
                            this.page = Math.max(Math.min(this.page, data.data.totalPages),
                                this.cacheData.length === 0 ? 0 : 1);
                            this.totalPage = data.data.totalPages;
                            this.totalSize = data.data.totalElements;
                            $(window).scrollTop(0);
                        });
                }
            },
            // 重新加载分组数据
            reloadGroup: function () {
                if (confirm('是否确认重新加载' + this.currentGroup + '分组的数据?')) {
                    $.getJSON(PATH + '/group' + this.currentGroup + '/reload-all', data => {
                        if (!this.checkResponse(data)) return;
                        this.search();
                    });
                }
            },
            // 清空分组数据
            clearGroup: function () {
                if (confirm('是否确认清空' + this.currentGroup + '分组的数据?')) {
                    $.getJSON(PATH + '/group/' + this.currentGroup + '/clear', data => {
                        if (!this.checkResponse(data)) return;
                        this.cacheData = [];
                    });
                }
            },
            // 删除分组中的指定项
            deleteItem: function (key) {
                $.getJSON(PATH + '/group' + this.currentGroup + '/delete?key=' + key, data => {
                    if (!this.checkResponse(data)) return;
                    for (let i = 0; i < this.cacheData.length; i++) {
                        if (this.cacheData[i].key === key) {
                            this.cacheData.splice(i, 1);
                            break;
                        }
                    }
                });
            },
            // 查看分组中的指定项
            viewItem: function (key) {
                if (key === '') return;
                this.viewItemTitle = '';
                this.viewItemContent = '';
                $.getJSON(PATH + '/group/' + this.currentGroup + '/get',
                    {key: key}, data => {
                        if (!this.checkResponse(data)) return;
                        this.viewItemTitle = key;
                        this.viewItemContent = JSON.stringify(data.data, null, 2)
                            .replace(/\n/g, '<br>')
                            .replace(/ /g, '&nbsp;');
                        $('#viewItemModal').modal('show');
                    });
            },
            // 刷新分组中的指定项
            refreshItem: function (key) {
                $.getJSON(PATH + '/group' + this.currentGroup + '/refresh?key=' + key, data => {
                    if (!this.checkResponse(data)) return;
                    setTimeout(() => this.search(), 100);
                });
            },
            // 显示分组统计信息
            showGroupStats: function () {
                this.groupStatsModelData = {};
                $.getJSON(PATH + '/group' + this.currentGroup + '/stats', data => {
                    if (!this.checkResponse(data)) return;
                    this.groupStatsModelData = data.data;
                    $('#groupStatsModal').modal('show');
                });
            },
            // 上一页
            prevPage: function () {
                if (this.page > 1) {
                    this.page--;
                    this.search();
                }
            },
            // 下一页
            nextPage: function () {
                if (this.page < this.totalPage) {
                    this.page++;
                    this.search();
                }
            },
            // 首页
            firstPage: function () {
                if (this.page > 1) {
                    this.page = 1;
                    this.search();
                }
            },
            // 末页
            lastPage: function () {
                if (this.page < this.totalPage) {
                    this.page = this.totalPage;
                    this.search();
                }
            },
            checkResponse: function (data) {
                console.log(data);
                if (data === null || data === undefined) {
                    alert('请求失败！');
                    return false;
                }
                if (data.code !== 0) {
                    alert(data.data);
                    return false;
                }
                return true;
            }
        },
        created: function () {
            this.loadGroups();
        },
        mounted: function () {
            $('[data-toggle="tooltip"]').tooltip();
        }
    });
</script>
</body>
</html>